$mediaDownXs: 'max-width: 480px';
$mediaDownSm: 'max-width: 768px';
$mediaDownMd: 'max-width: 992px';

$mediaUpXs: 'min-width: 0px';
$mediaUpSm: 'min-width: 480px';
$mediaUpMd: 'min-width: 768px';
$mediaUpLg: 'min-width: 992px';
$mediaUpXl: 'min-width: 1110px';