

//
// colours
//
$primary: #003142;
$white: #FFFFFF;
$text: #171717;
$highlight: #1889e6;

$grey1: #CBCCCE;
$grey2: #98999B;
$grey3: #656668;
$grey4: #323335;
$grey5: #000000;

$yellow1: #FEEDCF;
$yellow2: #FEDB99;
$yellow3: #FCCA67;
$yellow4: #FEB834;
$yellow5: #FFA500;

$green1: #CDE8E3;
$green2: #9CCFC8;
$green3: #6BB9AB;
$green4: #3AA18E;
$green5: #128263;

$blue1: #DDEFFD;
$blue2: #BCDFFD;
$blue3: #9ACDFA;
$blue4: #78BEFA;
$blue5: #59ABF7;