.about-plan,
.about-community {
  padding: rem(40) rem(40) rem(100) rem(40);

  .wp-block-group__inner-container {
    margin: auto;
    max-width: $maxWidth;
  }

  h2 {
    font-size: rem(42);
    line-height: rem(55);
    margin-bottom: rem(32);
  }
}