.about-research {
  padding: rem(40) rem(24) 0 rem(24);
  @media ($mediaUpMd) {
    padding: rem(40) rem(40) 0 rem(40);
  }

  .about-research-posts,
  .wp-block-group__inner-container {
    @extend %grid-max;
  }

  .about-research-posts {
    .research-post-tile {
      @media ($mediaUpMd) {
        flex-basis: 50%;
      }
      @media ($mediaUpLg) {
        flex-basis: 33.333%;
      }
    }
  }
}