.about-hero {
  background-color: $yellow1;
  @extend %grid-padding;

  .wp-block-columns {
    margin-bottom: 0;
    position: relative;
  }

  @media ($mediaDownMd) {
    .wp-block-columns {
      .wp-block-column {
        flex-basis: 100%;
        width: 100%;
      }
    }
  }
}

.about-hero-opportunity {
  @extend %grid-padding;

  .wp-block-column:first-child {
    padding-right: 30px;
  }
}
