
.blog-bullet {
  background-color: $grey2;
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
  margin: 0 rem(20);
  height: rem(5);
  width: rem(5);
}

.blog-post {
  max-width: 900px;

  .blog-post-details {
    color: $black;
    margin-top: rem(80);
  }
}

.blog-post-share {
  color: $black;
  margin-bottom: 40px;

  button {
    background-color: $white;
    border-radius: 40px;;
    border: 2px solid $blue5;
    color: $blue5;
    height: 40px;
    font-size: 16px;
    font-weight: $fontWeightMedium;
    padding: 0 16px;
    margin-right: 16px;

    &:hover {
      background-color: $blue5;
      color: $white;
      cursor: pointer;
    }
  }
}

.blog-pill {
  background: white;
  border-radius: 32px;
  border: 1px solid $grey4;
  color: $black;
  display: inline-block;
  height: 34px;
  line-height: 33px;
  padding: 0 16px;
  text-align: center;
  font-size: 12px;
  font-weight: $fontWeightMedium;
  text-decoration: none;

  a {
    font-size: 12px;
    font-weight: $fontWeightMedium;
    text-decoration: none;
  }
}

.blog-image-wrap {
  height: 300px;
  overflow: hidden;
  position: relative;

  @media ($mediaUpMd) {
    height: 500px;
  }

  @media ($mediaUpLg) {
    height: 580px;
  }

  &:before {
    content: '';
    background-image: linear-gradient(180deg, rgba(0,0,0,0.10) 0%, rgba(0,0,0,0.20) 57%, rgba(0,0,0,0.60) 99%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .grid {
    max-width: 900px;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  .blog-image-content {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    max-width: 700px;

    @media ($mediaUpMd) {
      left: 40px;
      right: 40px;
      bottom: 24px;
    }
  }

  .blog-image-category {
    margin-bottom: rem(20);
  }

  .blog-title,
  .blog-excert,
  .blog-date,
  .blog-date a  {
    color: white;
  }

  .blog-title {
    color: white;
    font-size: 24px;
    font-weight: $fontWeightMedium;
    margin-bottom: rem(4);
    line-height: rem(30);

    @media ($mediaUpMd) {
      font-size: 40px;
      line-height: rem(50);
    }
  }

  .blog-date {
    font-size: 14px;
  }

  .blog-excert p {
    font-size: 14px;
    line-height: 20px;
    @media ($mediaUpMd) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .blog-image {
    background-repeat: no-repeat;
    background-size: 180% auto;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    @media ($mediaUpMd) {
      background-size: 100% auto;
    }
  }
}


.blog-container {
  padding-top: rem(80);
  padding-bottom: 0;
}

.blog-post-tiles-pagination {
  padding-top: 0;
  display: flex;
  justify-content: space-between;

  .button {
    background-color: $white;
    border-radius: 32px;
    color: $black;
    display: inline-block;
    font-weight: $fontWeightMedium;
    padding: rem(12) rem(24);
    line-height: 32px;
    text-decoration: none;
  }

  .button-disabled {
    visibility: hidden;
  }

  .button-next {
    i {
      margin-left: 10px;
    }
  }

  .button-prev {
    i {
      margin-right: 10px;
    }
  }
}

.blog-post-tiles-title {
  h1 {
    padding-left: 8px;
  }
}

.blog-post-tiles {
  display: flex;
  flex-wrap: wrap;
}