.blog-title {
  font-size: 40px;
  font-weight: $fontWeightMedium;
}

.blog-post {
  padding: rem(40) rem(40) rem(100) rem(40);
  margin: auto;
  max-width: 900px;
}

.blog-image-wrap {
  max-height: 460px;
  overflow: hidden;
}

.blog-image {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  padding-top: 56%;

  img {
    display: block;
    width: 100%;
  }
}

.blog-post-tiles {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: $maxWidth;
  padding: rem(40) rem(32) rem(100) rem(32);
}

.blog-post-tile {
  flex-basis: 33.333%;
  padding: 0 12px;
  position: relative;

  .blog-post-tile-when {
    color: $black;
    position: absolute;
    top: 8px;
    right: 18px;
    background: white;
    border-radius: 32px;
    font-size: 10px;
    font-weight: $fontWeightBold;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    display: block;
  }

  .blog-post-tile-image {
    border-radius: 16px;
    overflow: hidden;
    display: block;
    margin-bottom: rem(16);
    img { 
      width: 100%;
    }
  }
  .blog-post-tile-title {
    display: inline-block;
    font-size: rem(20);
    font-weight: $fontWeightMedium;
    line-height: rem(26);
    margin-bottom: rem(8);
    text-decoration: none;
  }

  .blog-post-tile-caption p {
    font-size: rem(16);
    line-height: rem(24);
  }
}