.wp-block-button__link {
  background-color: $blue5;
  color: $white;
  display: inline-block;
  font-weight: $fontWeightMedium;
  padding-left: rem(48);
  padding-right: rem(48);
  &:hover {
    background-color: $blue4;
  }
}