.card-research {
  background-color: $yellow4;
  border-radius: 16px;
  box-shadow: rgba(57, 16, 133, 0.3) 0px 2px 3px;
  max-width: 400px;
  padding: 40px;

  .wp-block-columns {
    margin-bottom: 16px;
  }
  .wp-block-image {
    border-radius: 126px;
    height: 114px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  figure {
    margin-bottom: rem(40);
    text-align: center;
  }

  p {
    font-size: rem(18);
    margin-bottom: 0;
  }

  figure + p {
    font-size: rem(24);
    line-height: rem(33);
    margin-bottom: rem(24);
  }

  .wp-block-buttons .wp-block-button {
    display: block;
    margin: 0;
    margin-top: rem(60);

    .wp-block-button__link {
      background-color: $blue5;
      border: 4px solid $blue6;
      color: $white;
      border-radius: 4px;
      font-weight: $fontWeightMedium;
      width: 100%;
    }
  }
}