.footer {
  color: $black;
  padding: rem(60) 0;

  .footer-wrapper {
    max-width: $maxWidth;
    margin: auto;
    padding: rem(20);
    position: relative;

    @media ($mediaUpMd) {
      padding: rem(40);
    }

    @media ($mediaUpLg) {
      display: flex;
      & > div {
        width: 50%;
      }
    }
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    font-size: rem(14);
    padding-top: rem(30);

    @media ($mediaUpSm) {
      display: flex;
      flex-direction: row;
      padding-top: rem(70);
    }
  }

  .footer-logo-wrap {
    max-width: rem(170);
    margin-bottom: rem(32);
    img {
      width: 100%;
    }
  }

  .footer-description {
    margin-bottom: rem(40);

    @media ($mediaUpSm) {
      max-width: rem(426);
    }

    p {
      font-size: rem(14);
      line-height: rem(20);
    }
  }

  .footer-legals {
    font-size: rem(12);
    margin-top: rem(24);
  }

  .footer-block {
    min-width: rem(180);

    .footer-block-title {
      font-size: rem(16);
      font-weight: $fontWeightMedium;
      margin-bottom: rem(24);
      text-transform: uppercase;
    }
  }

  .footer-info {
    margin-bottom: rem(20);

    p {
      font-size: rem(14);
      font-weight: $fontWeightMedium;
      margin-bottom: 0;
    }
  }

  .footer-social {
    p {
      margin-bottom: 10px;
    }
    a {
      font-size: 24px;
      margin-right: 8px;
      text-decoration: none;
    }
  }

  .menu-item {
    list-style: none;
    margin: 0;

    a {
      display: block;
      font-size: rem(14);
      margin-bottom: rem(8);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
