body {
  padding-top: 93px;
}

.header {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: box-shadow 200ms ease;

  ul {
    margin: 0;
  }

  .header-wrapper {
    display: flex;
    padding: rem(16) rem(40);
    position: relative;
  }

  .header-logo {
    width: rem(100);
    img {
      width: 100%;
    }
  }

  .header-big-nav {
    position: absolute;
    bottom: 0;
    right: rem(40);
    top: 0;

    a {
      border-radius: 8px;
      color: $text;
      font-size: rem(16);
      padding: rem(8) rem(12);
      text-decoration: none;

      &:hover {
        background-color: $blue1;
      }
    }

    .menu {
      display: flex;

      .menu-item {
        color: $grey4;
        list-style: none;
        margin: 0;
        padding: 0 rem(8);
        position: relative;
        margin-bottom: 0;
        line-height: 90px;
      }

      .menu-item-has-children {
        :after {
          content: '';
        }
      }

      .menu-item:hover .sub-menu {
        display: block;
      }
    }

    .sub-menu {
      background-color: $white;
      box-shadow: rgba(57, 16, 133, 0.08) 0px 8px 15px;
      border: 1px solid #f0f0f0;
      border-radius: 12px;
      display: none;
      min-width: 230px;
      padding: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 80px;

      .menu-item {
        line-height: rem(24);
        margin: 0;
        padding: rem(16);

        a {
          display: block;
          font-weight: normal;
        }
      }
    }
  }
}

.has-scrolled .header {
  box-shadow: rgba(57, 16, 133, 0.08) 0px 8px 15px;
}

.nav-mobile {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 24px;
  background: none;
  width: 40px;
  height: 40px;
  display: none;
}

.nav-mobile-menu {
  background-color: transparent;
  position: absolute;
  right: 24px;
  top: 0;
  bottom: 0;
  color: black;
  font-size: 16px;
  font-family: $fontFamily;
  font-weight: $fontWeightMedium;
  display: block;
  z-index: 1;
  display: none;
}

@media all and (max-width: 768px) {
  body {
    padding-top: rem(70);
  }

  .nav-mobile-menu,
  .nav-mobile {
    display: block;
  }

  .header {
    .header-wrapper {
      padding: 18px 20px;
    }

    .header-logo {
      width: rem(60);
    }

    .header-big-nav {
      position: fixed;
      background-color: rgba(255,255,255,0.98);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10000;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;

      opacity: 0;
      visibility: hidden;

      .menu {
        flex-direction: column;

        .menu-item {
          display: block;
          line-height: 1;
          margin-left: 0;
          padding: 20px;
        }

        .sub-menu {
          box-shadow: none;
          border: none;
          display: block;
          margin-top: rem(10);
          position: relative;
          top: auto;

          a {
            font-size: 24px;
          }
        }

        a {
          font-size: 28px;
          font-weight: 500;
        }
      }
    }
  }

  .nav-mobile-active .header .header-big-nav {
    opacity: 1;
    visibility: visible;
  }
}

