.hero-video {
  background-color: $yellow1;
  padding: rem(100) rem(40);

  .wp-block-group__inner-container {
    max-width: 1300px;
    margin: auto;
  }

  .wp-block-columns {
    margin-bottom: 0;
  }
}

.coast-video-overlay {
  background-color: $yellow4;
  border-radius: rem(16);
  position: relative;
  padding-top: 56%;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -70px;
    margin-top: -70px;
    width: 140px;
  }

  .coast-video-overlay-text {
    position: absolute;
    bottom: 42px;
    left: 42px;
    span {
      display: block;
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 4px;
    }
  }
}