.row-information {
  @extend %grid-padding;
}

.row-blob {
  background-image: url('../images/people_yellow_bg.png');
  background-repeat: no-repeat;
  background-size: 150% auto;
  background-position: 0 top;

  @media ($mediaUpMd) {
    background-size: 800px auto;
    background-position: 100% center;
  }


  .wp-block-column {
    background-color: $white;
    border-radius: 16px;
    border: 1px solid #ECECEC;
    padding: rem(16);
    margin-bottom: rem(20);

    h2 {
      background-color: $yellow1;
      border-radius: 32px;
      display: inline-block;
      font-size: 14px;
      font-weight: $fontWeightNormal;
      line-height: rem(40);
      margin-bottom: rem(16);
      padding: 0 rem(16);
    }

    p {
      font-size: rem(16);
      line-height: rem(26);
      margin-bottom: rem(20);
    }

    ul {
      margin-bottom: 0;
    }

    ul li {
      font-size: 14px;
      line-height: rem(20);
      margin-left: rem(24);
    }
  }
}