.statement {
  background-color: $blue5;
  background-image: url(../images/people_blue_bg.png);
  background-repeat: no-repeat;
  background-position: 200% -19%;
  background-size: auto 360px;

  .wp-block-group__inner-container {
    max-width: 1000px;
    margin: auto;
    @extend %grid-padding;
  }

  p {
    color: $white;
    font-size: rem(28);
    line-height: rem(40);
    font-weight: $fontWeightMedium;

    @media ($mediaUpMd) {
      font-size: rem(32);
      line-height: rem(45);
    }
  }


  @media ($mediaUpMd) {
    background-position: 110% -19%;
    p {
      font-size: rem(42);
      line-height: rem(64);
    }
  }
}