.recognition {
  padding: rem(60) rem(40);

  .wp-block-group__inner-container {
    max-width: $maxWidth;
    margin: auto;
  }

  @media ($mediaDownMd) {
    .wp-block-columns {
      flex-direction: column;
      .wp-block-column {
        flex-basis: 100% !important;
        margin: 0;
        width: 100%;

        .recognition-links {
          width: 50%;
        }
      }
    }
  }

  @media ($mediaDownSm) {
    .wp-block-columns {
      .wp-block-column {
        .recognition-links {
          width: 100%;
        }
      }
    }
  }

  .recognition-card {
    margin-top: rem(40);

    .wp-block-image {
      margin-bottom: rem(10);
    }

    p {
      margin-bottom: rem(4);
    }

    p a {
      font-size: rem(14);
    }
  }
}
