.page-hero {
  background-color: $yellow1;

  h1 {
    font-size: rem(42);
    line-height: rem(55);
    margin-bottom: rem(32);
  }

  .page-hero-container,
  .wp-block-group__inner-container {
    max-width: $maxWidth;
    margin: auto;
    padding: rem(100) rem(40) rem(40) rem(40);
  }

  .wp-block-columns {
    margin-bottom: 0;
    position: relative;
  }

  @media ($mediaDownMd) {
    .wp-block-columns {
      .wp-block-column {
        flex-basis: 100%;
        width: 100%;
      }
    }
  }
}

.page {
  .page-container {
    background-image: url('../images/title-blob.png');
    background-repeat: no-repeat;
    background-size: 200px auto;
    background-position: left;
    margin-bottom: 80px;

    max-width: $maxWidth;
    margin: auto;
    padding: rem(100) rem(40) rem(40) rem(40);
  }

  .page-title {
    font-size: 46px;
    font-weight: $fontWeightMedium;
  }
}