.recognition {
  padding: rem(60) rem(40);

  .wp-block-group__inner-container {
    max-width: $maxWidth;
    margin: auto;
  }

  @media ($mediaDownMd) {
    .wp-block-columns {
      flex-direction: column;
      .wp-block-column {
        flex-basis: 100% !important;
        width: 100%;
      }
    }
  }

  h2 {
    font-size: rem(42);
    margin-bottom: rem(20);
    max-width: 80%;
    line-height: rem(55);
  }

  p {
    font-size: rem(18);
    line-height: rem(25);
  }
}
