.track-record {
  padding: rem(60) rem(40);

  @media ($mediaUpLg) {
    padding: rem(100) rem(40);
  }

  .wp-block-group__inner-container {
    max-width: $maxWidth;
    margin: auto;

    .wp-block-column:first-child {
      padding-right: rem(40);
    }
  }

  @media ($mediaDownMd) {
    .wp-block-columns {
      flex-direction: column;
      .wp-block-column {
        flex-basis: 100% !important;
        width: 100%;
      }
    }
    .wp-block-column:not(:first-child) {
      margin-left: 0;
    }
  }

  .track-record-video {
    box-shadow: rgba(57, 16, 133, 0.3) 0px 8px 15px;

    .wp-block-embed__wrapper {
      overflow: hidden;
    }
  }
}