$fontWeightNormal: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

$fontFamily: 'Poppins', sans-serif;

p, ul li, h1, h2, h3, h4, h5, h6, a {
  font-family: $fontFamily;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.has-large-font-size {
  line-height: 42px;
}
//---------------------------------------
// reserved for content editing articles
//---------------------------------------
p, ul li {
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 rem(30) 0;
}

ul {
  margin-bottom: 30px;
}
ul li {
  margin-left: 20px;
  margin-bottom: 8px;
}

a {
  color: #000;
  text-decoration: underline;

  &:hover {
    color: $yellow5;
  }
}

.section-article {
  iframe {
    display: block !important;
    margin: 0 auto !important;
  }

  .arve-play-background,
  .arve-play-background:focus,
  .arve-play-background:hover {
    background: url('../../images/play@2x.png') no-repeat center center;
    background-size: rem(66);
    opacity: 1;
  }
}

.has-small-font-size {
  line-height: 18px;
}
.has-normal-font-size {
  line-height: 22px;
  margin-bottom: 12px;
}

.mb-4 {
  margin-bottom: 40px;
}
.mt-4 {
  margin-top: 40px;
}