$fontWeightNormal: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

$fontFamily: 'Poppins', sans-serif;

p, ul li, h1, h2, h3, h4, h5, h6, a {
  font-family: $fontFamily;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: rem(20);
}

.has-large-font-size {
  line-height: 42px;
}

p, li, h4 {
  font-size: rem(18);
  line-height: rem(28);
  margin-bottom: rem(28);
}

p strong {
  font-weight: $fontWeightBold;
}

ul, ol{
  margin-bottom: 30px;
}
ol li,
ul li {
  margin-left: rem(40);
  margin-bottom: 8px;
}

a {
  color: #000;
  text-decoration: underline;

  &:hover {
    color: $blue4;
  }
}

blockquote {
  border-left: 4px solid $yellow1;
  p {
    font-size: 32px;
    line-height: 40px;
  }
  margin: 0 0 rem(40) 0;
  padding: 30px;

  cite {
    color: $grey3;
  }
}

.typography-statement-wrapper {
  max-width: 66%;
  @media ($mediaDownSm) {
    max-width: 100%;
  }
}

.page-title {
  margin-bottom: rem(60);
}

hr {
  border: 1px solid #f5f5f5;
  margin: rem(40) 0;
}

.page-callout {
  background-color: $purple1;
  border-radius: rem(16);
  font-weight: $fontWeightMedium;
  margin-bottom: rem(20);
  padding: rem(20);
}

.page-callout-blue {
  background-color: $blue1;
  border-radius: rem(16);
  font-weight: $fontWeightMedium;
  margin-bottom: rem(20);
  padding: rem(20);
}

.wp-block-image figcaption {
  font-size: rem(14);
  text-align: center;
}

h2 {
  font-size: rem(28);
  line-height: rem(38);
  margin-bottom: rem(24);

  @media ($mediaUpMd) {
    font-size: rem(42);
    line-height: rem(55);
    margin-bottom: rem(32);
  }
}